@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
.max-width-1{
    max-width: 80vw;
}
.max-width-2{
    max-width: 60vw;
}
.m-auto{
    margin: auto;
}
:root{
    --main-bg-color: rgb(7, 107, 146);
    --font1: 'Baloo Bhaina 2' , cursive;
    --font2: 'Roboto' , sans-serif; 
}
.font1{
    font-family: var(--font1);
}
.font2{
    font-family: var(--font2);
}
.navigation{
font-family: var(--font1);
height: 45px;
/* background-color: red; */
margin-top: 15px;
display: flex;
justify-content: space-around;
align-items: center ;
/* background-color: rgb(107, 152, 170); */
position: relative;
}
.nav{
    background-color: rgb(107, 152, 170);
    margin-top: -15px;
    height: 45px;
}
.nav-left{
font-size: 30px;
display: flex;
}
.nav-left span{
    margin-top: 10px;
}
.nav-left ul{
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 18px;
}
.nav-left ul li{
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
.nav-left ul li a{
    text-decoration: none;
    color: black;
    /* transition: all 0.5s ease-in-out; */
}
.nav-left ul li a:hover{
    font-weight: bolder;
    /* color : rgb(8, 101, 138); */
    color: rgb(221, 230, 233);
}
/* .nav-right{
font-size: 10px;
} */
.form-input{
    width: 50%;
    padding: 0px 5px;
    padding-top: 3px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 6px;
    margin: 0 13px;
    font-family: var(--font1);
}
.btn{
    padding: 0px 20px;
    padding-top: 3px;
    border: 2px solid black;
    border-radius: 6px;
    font-family: var(--font1);
    font-size: 16px;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
.btn:hover{
    color: white;
    background-color: var(--main-bg-color);
}
.content{
height: auto;
/* background-color: rgb(182, 192, 212); */
display: flex;
margin-top: 32px;
padding-left: 20px;
/* flex-direction: row; */
}
.content-left{
font-family: var(--font1);
/* width: 50%; */
display: flex;
flex-direction: column;
justify-content: center;
/* overflow: hidden; */
}
.content-right{
/* width: 50%; */
display: flex;
align-items: center;
justify-content: center;
}
.content-right img{
    height: 355px;
    width: 500px;
    border: 2px solid black;
    border-radius: 70px;
}
.article-heading{
    margin-top: 5px;
    margin-bottom: 10px;
    height: auto;
}

.home-articles:nth-child(2n){
    padding-top: 12px;
    height: auto;
    background-color: rgb(107, 152, 170);
} */
.home-articles:nth-child(2n+1){
    padding-top: 12px;
    height: auto;
    background-color: red
}
.home-article{
    margin: 20px;
    display: flex;
}
.home-article img{
    width: 300px;
    height: 300px;
}
.home-article-content{
    align-self: center;
    padding: 25px;
    /* overflow: hidden; */
}
.footer{
height: 50px;
background-color: black;
display: flex;
align-items: center;
justify-content: center;
color: white;
flex-direction: column;
margin-top: 10px;
}
.horizontal-list{
	list-style: none;
	padding-left: 0px;
	margin: 0px;
	/*text-align: center;*/
}
.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
    margin-top: 10px;
}
.horizontal-list li a{
	color: white;
	text-decoration: none;
}
.text-center{
	text-align: center;
}
.social-icons li a i{
    color: rgb(107, 152, 170);
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 50%;
 }
 .social-icons li a i:hover{
     /*horiz. offset,vert offset,blur,spread,color*/
     /*box-shadow: 0px 0px 5px 3px darkorchid;*/
     box-shadow: 0px 0px 8px 4px rgba(230, 196, 196, 0.2);
 }
@media screen and (max-width: 970px){
    .navigation{
        /* margin-top: 5px; */
        flex-direction: column;
        margin-bottom: 80px;
        text-align: center;
    }
    .nav-left{
        margin-top: 50px;
        margin-bottom: 5px;
        flex-direction: column;
        text-align: center;
    }
    .content-right{
        display: none;
        text-align: center;
    }
    .home-article{
        flex-direction: column;
    }
    .home-article-img{
        text-align: center;
    }
    .home-article img{
        width: 65vw;
    }
}
